@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

@media (max-width: 375px) {
  body {
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
}
